= simple_form_for @listing, html: { multipart: true } do |f|
  %form
    %div.form-group
      = f.input :title, :class => "form-control"
    %div.form-group
      = f.input :description, :class => "form-control"
    %div.form-group
      = f.input :price, :class => "form-control"
    %div.form-group
      = f.label :category
      %div
        = f.select :category, options_for_select(categories), label: "Category"
    %div.form-group
      = f.label :campus
      %div
        = f.select :campus, options_for_select(universities, "University of Waterloo"), label: "Campus"
    %div.actions
      = f.button :submit, :class => "btn btn-primary"