= simple_form_for(@listing) do |f|
  .form-group
    %div.field
      = f.input :title, :class => "form-control"
    %div.field
      = f.input :description, :class => "form-control"
    %div.field
      = f.input :price, :class => "form-control"
    %div.actions
      = f.button :submit, :class => "btn btn-primary"