%nav.bottom_nav
  / Add new listing
  - if current_user.nil?
    %div.add-listing
      Log in to add listings
  - else
    %div.add-listing{"data-target" => "#add-listing", "data-toggle" => "modal", :type => "button"}
      %i{:class => "fa fa-plus-circle fa-lg"}
      Add Listing


/ Add Listing Modal Starts here
- if !current_user.nil?
  #add-listing.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4#myModalLabel.modal-title Add Listing
        .modal-body
          = simple_form_for @listing, html: { multipart: true } do |f|
            %form
              %div.form-group
                = f.input :title, :class => "form-control"
              %div.form-group
                = f.input :description, :class => "form-control"
              %div.form-group
                = f.input :price, :class => "form-control"
              %div.form-group
                = f.label :campus
                %div
                  = f.select :campus, options_for_select(@listing.universities), label: "Campus"
              %div.actions
                = f.button :submit, :class => "btn btn-primary"
              