%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      / Toggles right menu for mobile view
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      / Nav Logo
      .navbar-brand
        %a{:href => listings_path}
          %img{:src => "/images/logo.png", :class => "nav-logo"}
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav#nav-position
        %li#only-mobile
          %a{:href => listings_path}
            Home
          / Show menu for logged in users
        - if user_signed_in?
          %li.dropdown#nav-menu
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button", :class => "username-bounce"}
              %i{:class => "fa fa-bars"} &nbsp
              = current_user.username
            %ul.dropdown-menu#nav-drop-menu{:role => "menu"}
              %li
                = link_to user_path(current_user) do
                  %i{:class => "fa fa-user"}  &nbsp&nbsp
                  Profile
              %li
                = link_to my_listings_path(current_user) do
                  %i{:class => "fa fa-briefcase"} &nbsp
                  My Listings
              %li.divider
              %li
                = link_to user_edit_path(current_user) do
                  %i{:class => "fa fa-cog"} &nbsp
                  Account Settings
              %li
                = link_to logout_path, method: :delete do
                  %i{:class => "fa fa-sign-out"} &nbsp
                  Sign Out
              %li.nav-drop-menu-close
                %i{:class => "fa fa-times fa-lg"}
          / Show menu for users not logged in
        - else
          %li.login-button
            %button.btn.btn-primary.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
              Login
          %li.register-button
            = link_to 'Register', new_user_registration_path
%div.breakline-with-shadow

#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Modal title
      .modal-body
        \...
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-primary{:type => "button"} Save changes











            