%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      / Toggles right menu for mobile view
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      / Nav Logo
      .navbar-brand
        %a{:href => listings_path}
          %img{:src => "/images/logo2.png", :class => "nav-logo", :id => "nav-logo"}
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav#nav-position
        %li#only-mobile
          %a{:href => listings_path}
            Home
          / Show menu for logged in users
        - if user_signed_in?
          / I know it shouldn't be lists, but leave for now, styling works.
          %li.dropdown#nav-menu
            %li
              .nav-current-user
                = link_to current_user.username, user_path(current_user)
            %li.toggle-user-menu
              = link_to my_listings_path(current_user) do
                %i{:class => "fa fa-briefcase"} &nbsp
                My Listings
            %li.toggle-user-menu
              = link_to user_edit_path(current_user) do
                %i{:class => "fa fa-cog"} &nbsp
                Profile Settings
            %li.toggle-user-menu
              = link_to logout_path, method: :delete do
                %i{:class => "fa fa-sign-out"} &nbsp
                Sign Out
          / Show menu for users not logged in
        - else
          .login-register-wrapper
            .login-button#login-button{"data-target" => "#login", "data-toggle" => "modal", :type => "button"}
              Login
            .register-button#register-button{"data-target" => "#register", "data-toggle" => "modal", :type => "button"}
              Sign Up
%div.breakline-with-shadow

/ Login Modal Starts here
#login.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content.login
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×      
        %h4#myModalLabel.modal-title Login
      .modal-body
        .welcome-login-form
          = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .input-group.login
              .input-group-addon
                %i{:class => "fa fa-envelope-o fa-lg"}
              = f.input :email, required: true, autofocus: true, label: false, placeholder: "Email"
            .input-group.login
              .input-group-addon 
                %i{:class => "fa fa-lock fa-lg"}
              = f.input :password, required: true, label: false, placeholder: "••••••••••"
            .form-actions
              .welcome-button-login
                = f.button :submit, "Log in", id: "welcome-login-button"
            .forgot-pw
              = link_to "Forgot Password?", new_password_path(resource_name)

/ Register Modal Starts here
#register.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content.register
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Sign Up
      .modal-body
        .welcome-register
          .welcome-register-form
            = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:multipart => true}) do |f|
              = f.error_notification
              .row
                .col-md-6.welcome
                  .input-group.register
                    .input-group-addon
                      %i{:class => "fa fa-user"}
                    = f.input :username, required: true, autofocus: true, label: false, input_html: {:style => "width: 170px; font-size: 1.4rem;"}, placeholder: 'Username'
                .col-md-6.welcome
                  .input-group.register
                    .input-group-addon
                      %i{:class => "fa fa-envelope-o"}
                    = f.input :email, required: true, label: false, input_html: {:style => "width: 170px; font-size: 1.4rem;"}, placeholder: 'Email'
              .row    
                .col-md-6.welcome
                  .input-group.register
                    .input-group-addon
                      %i{:class => "fa fa-lock"}
                    = f.input :password, required: true, label: false, hint: ("#{@minimum_password_length} characters minimum" if @validatable), input_html: {:style => "width: 170px; font-size: 1.4rem;"}, placeholder: "••••••••••"
                .col-md-6.welcome              
                  .input-group.register
                    .input-group-addon
                      %i{:class => "fa fa-lock"}
                    = f.input :password_confirmation, label: false, required: true, input_html: {:style => "width: 170px; font-size: 1.4rem;"}, placeholder: "••••••••••"
              .row     
                .col-md-6.welcome      
                  .input-group.register
                    .input-group-addon
                      %i{:class => "fa fa-thumb-tack"}
                    = f.input :first_name, required: true, label: false, input_html: {:style => "width: 170px; font-size: 1.4rem;"}, placeholder: 'First Name'
                .col-md-6.welcome              
                  .input-group.register
                    .input-group-addon
                      %i{:class => "fa fa-thumb-tack"}
                    = f.input :last_name, required: true, label: false, input_html: {:style => "width: 170px; font-size: 1.4rem;"}, placeholder: 'Last Name'
              .row
                .col-md-6.welcome      
                  .input-group.register
                    .input-group-addon
                      %i{:class => "fa fa-graduation-cap"}
                    = f.select :campus, options_for_select(universities), label: false
                .col-md-6.welcome
                  .form-actions
                    .welcome-button-register
                  = f.button :submit, "Sign up", id: "welcome-register-button"










            