/ Top Main Nav
= render 'nav_1'
%span{:style => "text-align: center; color: #FEFEFE"}
  %h1 Edit Listing

.welcome-login-form{:style => "text-align: center;"}
  / Form for New Listing
  = simple_form_for @listing, html: { multipart: true } do |f|
    .input-group.login
      .input-group-addon
        %i{:class => "fa fa-lightbulb-o"}
      = f.input :title, :class => "form-control", label: false, placeholder: "Listing Title"
    .input-group.login
      .input-group-addon
        %i{:class => "fa fa-pencil-square-o"}
      = f.input :description, :class => "form-control", label: false, placeholder: "Write production description here"
    .input-group.login
      .input-group-addon
        %i{:class => "fa fa-usd"}              
      = f.input :price, :class => "form-control", label: false, placeholder: "Price"
    .input-group.login
      .input-group-label
        = f.label :category
      = f.select :category, options_for_select(categories), label: "Category"
    .input-group.login
      .input-group-label
        = f.label :campus
      = f.select :campus, options_for_select(universities, current_user.campus), label: "Campus"
    .input-group.login
      = f.button :submit, :class => "btn btn-primary"