/ Top Main Nav
= render '/listings/nav_1'
/ Top Sub Nav 2
= render '/listings/nav_2'


.my-listings-head
  Displaying
  = pluralize(current_user.listings.count, "Listing")
  
.my-each-listings
  - current_user.listings.each do |listing|
    .row.my-listings
      .col-md-6.my-listings#left
        .my-listings.title
          = listing.title
        .my-listing-images          
          - listing.images[0..0].each_with_index do |image|
            = image_tag image.picture.url, :class => "thumbs"
        .my-listing-options
          = link_to "View", listing_path(listing.id), id: "my-listing-options-1"
          &nbsp 
          = link_to "Edit", edit_listing_path(listing.id), id: "my-listing-options-2"          
          &nbsp 
          = link_to "Delete", listing_path(listing.id), method: :delete, data: {confirm: "Are you sure you want to PERMANENTLY delete this listing?"}, id: "my-listing-options-3"
          %p
            = link_to "Add / Remove Pictures", new_listing_image_path(listing.id)
      .col-md-6.my-listings#right
        %table{:class => "my-listing-table"}
          %tr.my-listing-table-menu
            %td Price
            %td Listing created
            %td Last updated
            %td Listed Campus
          %tr.my-listing-table-info
            %td
              = number_to_currency(listing.price, :unit =>"$")
            %td
              = listing.created_at.strftime("%b %-d, %Y")
            %td
              = listing.updated_at.strftime("%b %-d, %Y")
            %td
              = listing.campus
        .my-listing-description
          %h4 Product Details
          %p
            = sanitize(truncate((listing.description), :length => 250))

        
        