/ Top Main Nav
= render 'nav_1'
/ Top Sub Nav 2
= render 'nav_3'

.search_wrapper
  - @search_results.each do |listings|
    - if !listings.nil?
      .total_search_results
        Your Search Results: 
        %span{:style => "color: rgba(255, 153, 0, 1);"}
          = listings.count
      .listings_wrapper#search
        #listings-container.transitions-enabled
          - listings.each do |listing|
            .box.panel.panel-default#listing-shadow
              - listing.images[0..0].each_with_index do |image|
                = image_tag image.picture.url, :class => "thumbs"
                %div.breakline
              .panel-body 
                .panel-title
                  = listing.title
              %a{:href => listing_path(listing.id)}
                .listing-hover
                .listing-price
                  = number_to_currency(listing.price, :precision => 0)
                .listing-details.listing-user
                  Listed by 
                  = listing.user.username
                .listing-details.listing-time  
                  = listing.created_at.strftime("%b %-d, %Y")
  = render 'footer'
