/ Top Main Nav
= render 'nav_1'

/ Listing title, and description
.each-listing-heading
  %h2
    = @listing.title
  
  %h4
    = link_to user_path(@listing), :class => "list-user-link" do
      = @listing.user.username
  %h3
    Price:
    = number_to_currency(@listing.price, :unit =>"$")

  %p
    = @listing.description

/ Carousel of listing images
.listing-image.parent-container
  - @listing.images.each do |image|
    = link_to listing_image_path(@listing, image) do
      - if !current_user.present?
        .image-dim
          %h4 
            Please Log In To Enlarge
          .image-container
            = image_tag image.picture_url, :class => "each-image"
      - elsif current_user.present?
        .image-container
          = image_tag image.picture_url, :class => "each-image"

/ Options to add images to listing   
/ %div.add_image
/   - if @listing.user_auth(current_user)
/     = link_to 'Add Product Image', new_listing_image_path(@listing.id)