/ Top Main Nav
= render 'nav_1'

/ Listing title, and description
.each-listing-heading
  %h2
    = @listing.title
  
  %h4
    = link_to my_profile_path(@listing.user) do
      = @listing.user.username
  %h3
    Price:
    = number_to_currency(@listing.price, :unit =>"$")

  %p
    = @listing.description

/ Carousel of listing images
.listing-image.parent-container
  - @listing.images.each do |image|
    = link_to listing_image_path(@listing, image) do
      - if !current_user
        .image-dim  
      .image-container
        = image_tag image.picture_url, :class => "each-image"

/ Options to add images to listing   
%div.add_image
  - if @listing.user_auth(current_user)
    = link_to 'Add Product Image', new_listing_image_path(@listing.id)

/ Current listing & page options
= link_to 'Back', listings_path

- if @listing.user_auth(current_user)
  = link_to 'Edit', edit_listing_path(@listing.id)

  = link_to 'Delete', listing_path(@listing.id), method: :delete, data: { confirm: "Your listing will be permanently removed. Are you sure?" }