= render 'nav_1'
%div.breakline

.each-listing-heading
  %h2
    = @listing.title

  %h3
    = number_to_currency(@listing.price, :unit =>"$")

  %h4
    = @listing.description

.listing-image
  - @listing.images.each do |image|
    = image_tag image.picture_url, :class => "each-image"
    
%div.add_image
  - if @listing.user_auth(current_user)
    = link_to 'Add Product Image', new_listing_image_path(@listing.id)

= link_to 'Back', listings_path

- if @listing.user_auth(current_user)
  = link_to 'Edit', edit_listing_path(@listing.id)

  = link_to 'Delete', listing_path(@listing.id), method: :delete, data: { confirm: "Your listing will be permanently removed. Are you sure?" }