#welcome-wrapper
  #welcome-bg
  .logo-wrapper
    = link_to listings_path, id: "logo-path" do
      .logo
  %section.text-animation
    #welcome-sentences
      %span#sentences
    #search-sentences
      = form_tag search_path, method: :get, id: 'search-query' do
        = text_field_tag :q, nil, id: 'sentences'
        = submit_tag "Search", :style => "display: none;"
  %section.user-auth
    = link_to listings_path do
      .get-started
        Get Started
    .login
      = render 'login'