/ Main heading with logo / sign in / sign up
.site-wrapper
  .welcome-logo
    = link_to listings_path do
      %img{:src => "/images/logo.png", :style => "width: 60%;", :class => "logo"}
  .welcome-sentences
    %span#sentences
  / User Login Form  
  .welcome-user-auth
    .welcome-login
      %h2 Log In
      .welcome-login-form
        = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .input-group.login
            .input-group-addon
              %i{:class => "fa fa-envelope-o fa-lg"}
            = f.input :email, required: true, autofocus: true, label: false, placeholder: "Email"
          .input-group.login
            .input-group-addon 
              %i{:class => "fa fa-lock fa-lg"}
            = f.input :password, required: true, label: false, placeholder: "••••••••••"
            .welcome-forgot-pw{"data-target" => "#forgot-pw", "data-toggle" => "modal", :type => "button"}
              %i{:class => "fa fa-question-circle"}
          .form-actions
            .welcome-button-login
              = f.button :submit, "Log in", id: "welcome-login-button"

    / User Register Form
    .welcome-register
      %h2 Sign Up
      .welcome-register-form
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:multipart => true}) do |f|
          = f.error_notification
          .row
            .col-md-6.welcome
              .input-group.register
                .input-group-addon
                  %i{:class => "fa fa-user"}
                = f.input :username, required: true, autofocus: true, label: false, input_html: {:style => "width: 170px; font-size: 1.4rem;"}, placeholder: 'Username'
            .col-md-6.welcome
              .input-group.register
                .input-group-addon
                  %i{:class => "fa fa-envelope-o"}
                = f.input :email, required: true, label: false, input_html: {:style => "width: 170px; font-size: 1.4rem;"}, placeholder: 'Email'
          .row    
            .col-md-6.welcome
              .input-group.register
                .input-group-addon
                  %i{:class => "fa fa-lock"}
                = f.input :password, required: true, label: false, hint: ("#{@minimum_password_length} characters minimum" if @validatable), input_html: {:style => "width: 170px; font-size: 1.4rem;"}, placeholder: "••••••••••"
            .col-md-6.welcome              
              .input-group.register
                .input-group-addon
                  %i{:class => "fa fa-lock"}
                = f.input :password_confirmation, label: false, required: true, input_html: {:style => "width: 170px; font-size: 1.4rem;"}, placeholder: "••••••••••"
          .row     
            .col-md-6.welcome      
              .input-group.register
                .input-group-addon
                  %i{:class => "fa fa-thumb-tack"}
                = f.input :first_name, required: true, label: false, input_html: {:style => "width: 170px; font-size: 1.4rem;"}, placeholder: 'First Name'
            .col-md-6.welcome              
              .input-group.register
                .input-group-addon
                  %i{:class => "fa fa-thumb-tack"}
                = f.input :last_name, required: true, label: false, input_html: {:style => "width: 170px; font-size: 1.4rem;"}, placeholder: 'Last Name'
          .row
            .col-md-6.welcome      
              .input-group.register
                .input-group-addon
                  %i{:class => "fa fa-graduation-cap"}
                = f.select :campus, options_for_select(universities), label: false
            .col-md-6.welcome
              .form-actions
                .welcome-button-register
                  = f.button :submit, "Sign up", id: "welcome-register-button"

  .welcome-footer
    Made by Sam Kim with
    %a{:href => "https://github.com/hellosamkim/CampusGrabs"}
      %i{:class => "fa fa-heart fa-xs", :style => "color: #FF5F4D;"}



  / Modal for Forgot pw - Used Modal login form for template
  #forgot-pw.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content.forgot-pw
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×      
          %h4#myModalLabel.modal-title Forgot Password
        .modal-body
          .welcome-login-form
            = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
              .input-group.login
                .input-group-addon
                  %i{:class => "fa fa-envelope-o fa-lg"}
                = f.input :email, required: true, autofocus: true, label: false, placeholder: "Email"
              .form-actions
                .welcome-button-login
                  = f.button :submit, "Reset Password", id: "welcome-login-button"
