/ Main heading with logo / sign in / sign up
.site-wrapper
  .welcome-logo
    = link_to listings_path do
      %img{:src => "/images/logo.png", :style => "width: 60%;", :class => "logo"}
  .welcome-sentences
    %span#sentences
  .welcome-user-auth
    / User Login Form  
    = render 'sign_in'
    / User Register Form
    = render 'sign_up'

  .welcome-footer
    Made by Sam Kim with
    %a{:href => "https://github.com/hellosamkim/CampusGrabs"}
      %i{:class => "fa fa-heart fa-xs", :style => "color: #FF5F4D;"}



  / Modal for Forgot pw - Used Modal login form for template
  #forgot-pw.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content.forgot-pw
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×      
          %h4#myModalLabel.modal-title Forgot Password
        .modal-body
          .welcome-login-form
            = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
              .input-group.login
                .input-group-addon
                  %i{:class => "fa fa-envelope-o fa-lg"}
                = f.input :email, required: true, autofocus: true, label: false, placeholder: "Email"
              .form-actions
                .welcome-button-login
                  = f.button :submit, "Reset Password", id: "welcome-login-button"
